@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --primary-color: aquamarine;
  --primary-color-darker: rgb(50, 161, 124);
}

* {
  box-sizing: border-box;
  outline: 0;
}

h1 {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: aquamarine;
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  margin-bottom: 10px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input :focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var (--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover {
    background: var(--primary-color-darker);
}

.calculadora {
  width: 400px;
}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #dfdfdf;
  cursor: pointer ;
}
.btn:hover{
  background: #9E9E9E;
}

.btn-eq {
  background-color: royalblue;
}